easydict==1.10
ipdb==0.13.13
matplotlib==3.7.0
motmetrics==1.4.0
opencv_python==4.5.1.48
PyYAML==6.0
scipy==1.9.1
torch==1.13.1
torchvision==0.14.1
supervision==0.2.0
yolov7detect==1.0.1
numpy==1.24.2
pandas==1.5.3
